exportPattern("^[[:alpha:]]+")
importFrom(scales,dollar)
import(binancer)
import(httr)
import(data.table)
import(logger)
import(checkmate)
import(jsonlite)
export(exchangerate)
export(euro)
export(rates)
export(usdeur)
export(coin_prices)
export(get_bitcoin_price)
export(btcusdt)
